<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

	<title>Gadgetの取得 - Neru</title>
	<link rel="stylesheet" href="/css/neru.css" type="text/css" media="screen,tv,print" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
</head>
<body class="gsource">
	<h1><a href="/"><img alt="ねる。" src="./images/nerulogo.png" /></a></h1>
	<div class="unav"><a href="/static/help.html">ヘルプ</a></div>

	<h2>ねるgadget</h2>
	<p>「ねるgadget」を{{nick|escape}}さんのブログに貼りましょう。</p>
	<iframe title="{{nick|escape}}'s neru" frameborder="0" height="67" width="160" style="padding: 0; border: none;" src="http://twneru.appspot.com/gadget?nick={{nick|escape}}"><a href="http://twneru.appspot.com/statuses?nick={{nick|escape}}">{{nick|escape}}'s neru</a></iframe>
<h3>IFRAME版</h3>
<p>
	<textarea cols="80" rows="5">
&lt;iframe title="{{nick|escape}}'s neru" frameborder="0" height="67" width="160" style="padding: 0; border: none;" src="http://twneru.appspot.com/gadget?nick={{nick|escape}}"&gt;&lt;a href="http://twneru.appspot.com/statuses?nick={{nick|escape}}"&gt;{{nick|escape}}'s neru&lt;/a&gt;&lt;/iframe&gt;
	</textarea>
</p>
<h3>Google Gadget版</h3>
<p>
<a href="http://www.google.com/ig/adde?moduleurl=twneru.appspot.com/google-gadget?nick={{nick|escape}}"><img src="http://www.gmodules.com/ig/images/plus_google.gif" alt="iGoogle" /></a> <a href="/google-gadget?nick={{nick|escape}}">Google ガジェット版</a> を使用すると「iGoogle」や「はてなダイアリー」に貼り付けることができます。 (<a href="http://www.gmodules.com/ig/creator?synd=open&amp;url=http://twneru.appspot.com/google-gadget?nick={{nick|escape}}">貼り付け用コードを生成</a>)
</p>

</body>
</html>
