<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{nick|escape}} の「ねる」</title>
	<link rel="stylesheet" href="css/neru.css?v=9" type="text/css" media="screen,tv,print" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<style type="text/css">
#welcome {
	text-align: center;
	margin: 3em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1em 0;
	background: #ddeedd;
	font-size: 22px;
	position: relative;
}

#welcome span {
	font-size: 13px;
}

.bubbles {
	position: absolute;
	left: -13px;
	bottom: -40px;
}
	</style>
</head>
<body>
<h1><a href="/"><img alt="ねる。" src="./images/nerulogo.png" /></a></h1>
<div id="welcome">
{{nick|escape}}さんは「ねる」を使っていません<br />
<span><a href="http://twitter.com/?status=%40twneru_test+%E5%AF%9D%E3%82%8B">Twitterに書き込む</a>だけで使えます。登録等は必要ありません。</span>
<img class="bubbles" src="/images/bubbles.png" alt="" />
</div>
</body>
</html>