<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{nick|escape}} - Neru</title>
	<link rel="stylesheet" href="css/ineru.css?v=1" type="text/css" media="screen,tv" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="viewport" content="width=320" />

	<script type="text/javascript">
var THIS_NICK = '{{nick_j}}';
var pageFixed = {{is_fixed}};
{{ chart_js }}
	</script>
	<script type="text/javascript" src="/js/i-chart.js"></script>
</head>
<body onload="">
	<h1><a href="/"><img alt="Neru " src="/images/barlogo.png" /></a>{{nick|escape}}</h1>

</body>
</html>